<div class="partners">
    <div class="shadow_top_main_page"></div>
    <div class="partners_wrapper">
        <div class="top_line">
            <div class="left_corner_top"></div>
            <div class="middle_top"></div>
            <div class="right_corner_top"></div>
        </div><div style="clear:both;"></div>
        <div class="middle">
            <div class="lady_book"></div>
            <div class="slogan_content">
                <h2>Наши партнеры</h2>
                <p>Мы рады сообщить что работаем<br>с такими компаниями как:</p>
            </div>
        </div>
        <div class="bottom_line">
            <div class="left_corner_bottom"></div>
            <div class="middle_bottom"></div>
            <div class="right_corner_bottom"></div>
        </div><div style="clear:both;"></div>
        <div class="shadow_bottom"></div>
    </div>
    <div class="main_brands_wrapper">
        <div class="brand_item">
            <div class="top_line">
                <div class="left_corner_top"></div>
                <div class="middle_top"></div>
                <div class="right_corner_top"></div>
            </div>
            <div class="middle">
                <div class="slogan_content">
                    <h2>Adidas</h2>
                    <div class="brand_label"><img src="static/img/brands_labels/adidas.jpg"></div>
                    <a href="/" class="first_link">www.adidas.ru</a>
                    <a href="/" class="second_link">смотреть сервис на сайте</a>
                </div>
            </div>
            <div class="bottom_line">
                <div class="left_corner_bottom"></div>
                <div class="middle_bottom"></div>
                <div class="right_corner_bottom"></div>
            </div><div style="clear:both;"></div>
        </div>
        <div class="brand_vert_separator"></div>
        <div class="brand_item">
            <div class="top_line">
                <div class="left_corner_top"></div>
                <div class="middle_top"></div>
                <div class="right_corner_top"></div>
            </div>
            <div class="middle">
                <div class="slogan_content">
                    <h2>Louis Vuitton</h2>
                    <div class="brand_label"><img src="static/img/brands_labels/lv.jpg"></div>
                    <a href="/" class="first_link">www.louisvuitton.ru</a>
                    <a href="/" class="second_link">смотреть сервис на сайте</a>
                </div>
            </div>
            <div class="bottom_line">
                <div class="left_corner_bottom"></div>
                <div class="middle_bottom"></div>
                <div class="right_corner_bottom"></div>
            </div><div style="clear:both;"></div>
        </div>
        <div class="brand_item">
            <div class="top_line">
                <div class="left_corner_top"></div>
                <div class="middle_top"></div>
                <div class="right_corner_top"></div>
            </div>
            <div class="middle">
                <div class="slogan_content">
                    <h2>Selvatore Ferragamo</h2>
                    <div class="brand_label"><img src="static/img/brands_labels/selvatore.jpg"></div>
                    <a href="/" class="first_link">www.ferragamo.ru</a>
                    <a href="/" class="second_link">смотреть сервис на сайте</a>
                </div>
            </div>
            <div class="bottom_line">
                <div class="left_corner_bottom"></div>
                <div class="middle_bottom"></div>
                <div class="right_corner_bottom"></div>
            </div><div style="clear:both;"></div>
        </div>
        <div class="brand_vert_separator"></div>
        <div class="brand_item">
            <div class="top_line">
                <div class="left_corner_top"></div>
                <div class="middle_top"></div>
                <div class="right_corner_top"></div>
            </div>
            <div class="middle">
                <div class="slogan_content">
                    <h2>Prada</h2>
                    <div class="brand_label"><img src="static/img/brands_labels/prada.jpg"></div>
                    <a href="/" class="first_link">www.prada.ru</a>
                    <a href="/" class="second_link">смотреть сервис на сайте</a>
                </div>
            </div>
            <div class="bottom_line">
                <div class="left_corner_bottom"></div>
                <div class="middle_bottom"></div>
                <div class="right_corner_bottom"></div>
            </div><div style="clear:both;"></div>
        </div>
    </div><div style="clear:both;"></div>
    <div class="bottom_partners">

        <div class="partners_wrapper">
            <div class="top_line">
                <div class="left_corner_top"></div>
                <div class="middle_top"></div>
                <div class="right_corner_top"></div>
            </div><div style="clear:both;"></div>
            <div class="middle">
                <h2>Делимся впечатлениями:</h2>
                <p class="bottom_slogan">"Прекрасный сервис улучающий конверсию"</p>
                <div class="bottom_faces">
                    <div class="face_item">
                        <img src="static/img/faces/face1.jpg">
                        <p class="name">Dan Caderholm</p>
                        <p class="under_name">Dribbble</p>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="face_item">
                        <img src="static/img/faces/face1.jpg">
                        <p class="name">Dan Caderholm</p>
                        <p class="under_name">Dribbble</p>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="face_item">
                        <img src="static/img/faces/face1.jpg">
                        <p class="name">Dan Caderholm</p>
                        <p class="under_name">Dribbble</p>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="face_item">
                        <img src="static/img/faces/face1.jpg">
                        <p class="name">Dan Caderholm</p>
                        <p class="under_name">Dribbble</p>
                        <div style="clear:both;"></div>
                    </div>
                </div><div style="clear:both;"></div>
            </div>
            <div class="bottom_line">
                <div class="left_corner_bottom"></div>
                <div class="middle_bottom"></div>
                <div class="right_corner_bottom"></div>
            </div><div style="clear:both;"></div>
        </div>
    </div>
    <div class="service_buttons_wrapper">
        <div class="top_line">
            <div class="left_corner_top"></div>
            <div class="middle_top"></div>
            <div class="right_corner_top"></div>
        </div><div style="clear:both;"></div>
        <div class="left_vert"></div>
        <div class="service_buttons">
            <a href="#Modal_invite" role="button" type="submit" class="blue_repeat_btn" data-toggle="modal" onclick="document.getElementById('wrapper_hide').style.display='none';">Присоединиться</a>

        </div>
        <div class="right_vert"></div><div style="clear:both;"></div>
        <div class="bottom_line">
            <div class="left_corner_bottom"></div>
            <div class="middle_bottom"></div>
            <div class="right_corner_bottom"></div>
        </div><div style="clear:both;"></div>
    </div>
</div>