<div class="shadow_top_main_page"></div>
<div class="slider_wrapper">
    <div class="slider">
        <div id="myCarousel" class="carousel slide">
            <div class="lady"></div>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="active item"><img src="static/img/slider1/001.png">
                    <div class="carousel-caption">
                        <p class="slider1_txt"><span>AstraFit</span> - знает все тонкости<br> вашей фигуры</p>
                        <a href="#" id="make_shure" class="btn green_repeat_btn">Убедится в этом</a>
                    </div>
                </div>
                <div class="item"><img src="static/img/slider1/001.png">
                    <div class="carousel-caption">
                        <p class="slider1_txt"><span>AstraFit</span> - знает все тонкости<br> вашей фигуры</p>
                        <a href="#" id="make_shure" class="btn green_repeat_btn">Убедится в этом</a>
                    </div>
                </div>
                <div class="item"><img src="static/img/slider1/001.png">
                    <div class="carousel-caption">
                        <p class="slider1_txt"><span>AstraFit</span> - знает все тонкости<br> вашей фигуры</p>
                        <a href="#" id="make_shure" class="btn green_repeat_btn">Убедится в этом</a>
                    </div>
                </div>
                <div class="item"><img src="static/img/slider1/001.png">
                    <div class="carousel-caption">
                        <p class="slider1_txt"><span>AstraFit</span> - знает все тонкости<br> вашей фигуры</p>
                        <a href="#" id="make_shure" class="btn green_repeat_btn">Убедится в этом</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shadow_bottom"></div>
<div class="main_form_all">
    <div class="main_form_top"></div>
    <div class="main_form_wrapper">
        <div class="select_form">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#home" data-toggle="tab">Продавайте с Astrafit</a></li>
                <li><a href="#profile" data-toggle="tab">Посоветовать магазин</a></li>
            </ul>
            <div class="tab-content">
                <div class="first_tab tab-pane active" id="home"><p><span>3 бесплатных месяца</span><br>для оценки преимуществ сервиса</p>

                    <a href="#Modal_invite" id="getIn" role="button" class="blue_repeat_btn" data-toggle="modal" onclick="document.getElementById('wrapper_hide').style.display='none';">Присоединиться</a>

                    <a href="#" type="submit" class="grey_repeat_btn"><i class="icon-play-circle"></i>Видео</a>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="tab-pane active" id="home"><p>Хотите видеть Astrofit в своем любимом магазине?</p>
                        <form class="form-inline">
                            <input type="text" class="input-small first_input" placeholder="http:// ссылка магазина">
                            <input type="text" class="input-small" placeholder="ваш e-mail">
                            <div class="wy_mail"><p><a id="example2" data-toggle="popover" data-placement="bottom" data-content="Мы сообщим вам как только Astrafit появится в этом магазине." title="" data-original-title="Зачем e-mail?">Зачем e-mail?</a></p></div>
                            <a href="#" type="submit" class="proposition blue_repeat_btn">Предложить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a name="make_shure"></a>
        <div class="main_form_bottom"></div>
    </div>
</div>
