<div class="contacts">
    <div class="partners_wrapper">
        <div class="shadow_top_main_page"></div>
        <div class="top_line">
            <div class="left_corner_top"></div>
            <div class="middle_top"></div>
            <div class="right_corner_top"></div>
        </div><div style="clear:both;"></div>
        <div class="middle">
            <img src="static/img/sitting_girl.png">
            <div class="contact_info">
                <h2>Контакты</h2>
                <p>телефон: 093 747 74 13</p>
                <p>e-mail:info@astrafit.com</p>
            </div>
        </div>
        <div class="bottom_line">
            <div class="left_corner_bottom"></div>
            <div class="middle_bottom"></div>
            <div class="right_corner_bottom"></div>
        </div><div style="clear:both;"></div>
        <div class="shadow_bottom"></div>
    </div>
</div>